<main class="d-flex flex-column align-items-center justify-content-center min-vh-100">
    <div class="row w-100 align-items-center justify-content-center px-3">
        <div class="col-lg-3 col-md-7 chat p-5">
            <ng-container *ngIf="messages">
                <p *ngFor="let message of messages; index as i">
                    {{message.message}}
                </p>
            </ng-container>
        </div>
    </div>
    <div class="row w-100 align-items-center justify-content-center px-3">
        <div class="col-lg-3 col-md-7 p-0">
            <form class="w-100" [formGroup]="myGroup" (ngSubmit)="send(myGroup.value)">
                <input type="text" formControlName="message" class="form-control">
            </form>
        </div>
    </div>
</main>