<section class="chat">
    <div class="content">
        <div class="phone">
            <p class="left">
                Hola que tal
            </p>
            <p class="right">
                Hola!!!! Bien un poco cansado
            </p>
            <p class="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sequi corporis, officiis quam fuga totam eveniet fugit unde aperiam quas praesentium sapiente magnam? Alias iusto exercitationem quas ipsam non sapiente!</p>
            <p class="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sequi corporis, officiis quam fuga totam eveniet fugit unde aperiam quas praesentium sapiente magnam? Alias iusto exercitationem quas ipsam non sapiente!</p>
            <p class="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sequi corporis, officiis quam fuga totam eveniet fugit unde aperiam quas praesentium sapiente magnam? Alias iusto exercitationem quas ipsam non sapiente!</p>
            <p class="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sequi corporis, officiis quam fuga totam eveniet fugit unde aperiam quas praesentium sapiente magnam? Alias iusto exercitationem quas ipsam non sapiente!</p>
            <p class="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sequi corporis, officiis quam fuga totam eveniet fugit unde aperiam quas praesentium sapiente magnam? Alias iusto exercitationem quas ipsam non sapiente!</p>
            <p class="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sequi corporis, officiis quam fuga totam eveniet fugit unde aperiam quas praesentium sapiente magnam? Alias iusto exercitationem quas ipsam non sapiente!</p>
            <p class="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sequi corporis, officiis quam fuga totam eveniet fugit unde aperiam quas praesentium sapiente magnam? Alias iusto exercitationem quas ipsam non sapiente!</p>
            <p class="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sequi corporis, officiis quam fuga totam eveniet fugit unde aperiam quas praesentium sapiente magnam? Alias iusto exercitationem quas ipsam non sapiente!</p>
            <p class="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sequi corporis, officiis quam fuga totam eveniet fugit unde aperiam quas praesentium sapiente magnam? Alias iusto exercitationem quas ipsam non sapiente!</p>
        </div>
        <form>
            <input type="text" name="" id="">
            <button>Enviar</button>
        </form>
    </div>
</section>