main{
    background-color: #18191A;

    .chat{
        height: 70vh !important;
        background: #EDF0FA;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

            
        p{
            width: fit-content;
            background-color: #fff;
            padding: 10px;
            max-width: 50%;
            border-radius: 15px;
        }

        .left{
            border-top-left-radius: 0px;
        }

        .right{
            color: #fff;
            background-color: #6B85FC;
            margin-left: auto;
            border-top-right-radius: 0px;
        }

    }

    form *{
        border-radius: 0px !important;
    }
}

button{
    width: 100% !important;
    border-radius: 0% !important;
    
}