<main class="d-flex flex-column align-items-center justify-content-center min-vh-100">
    <div class="row w-100 align-items-center justify-content-center px-3">
        <div class="col-lg-3 col-md-7 chat p-5">
            <p class="left">
                Hola que tal
            </p>
            <p class="right">
                Muy bien !!!
            </p>
            <p class="left">
                Un poco cansado pero bueno, hoy iré al gimnasio.
            </p>
            <p class="left">
                Un poco cansado pero bueno, hoy iré al gimnasio.
            </p>
        </div>
    </div>
    <div class="row w-100 align-items-center justify-content-center px-3">
        <div class="col-lg-3 col-md-7 p-0">
            <form class="w-100" [formGroup]="myGroup" (ngSubmit)="send(myGroup.value)">
                <input type="text" formControlName="message" class="form-control">
            </form>
        </div>
    </div>
</main>